<div id="all-workouts" cdkDropListGroup>
    <ng-container *ngIf="regimen">
    <div class="regimen-wrapper">
        <h2>Routine</h2>
        <div id="regimen" class="regimen" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" >
            <div class="workout-card-wrapper cdk-drag" cdkDrag *ngFor="let workout of regimen.workouts">
                <app-workout-card [workout]="workout" [regimen]="true"></app-workout-card>
            </div>
            <ng-container *ngIf="!(regimen.workouts.length)">
            <div class="workout-card-placeholder" cdkDragPlaceholder>
                <mat-card>
                    <mat-card-header class="exercise-list-header">
                        <h2>Placeholder</h2>
                    </mat-card-header>
    
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
            </ng-container>
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="workouts">
    <div class="regimen-wrapper">
        <h2>Workouts</h2>
        <div id="workouts" class="workouts" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" >
            <div class="workout-card-wrapper cdk-drag" *ngFor="let workout of this.workouts" cdkDrag>
                <app-workout-card [workout]="workout" [regimen]="true"></app-workout-card>
            </div>
        </div>
    </div>
    </ng-container>
</div>