
<nav class="navbar navbar-expand-lg navbar-dark bg-body-dark mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="'.'">Workout App</a>

		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" [routerLink]="'dashboard'" (click)="isMenuCollapsed = true">Next Workout</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'workouts'" (click)="isMenuCollapsed = true">Edit Workouts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'routine'" (click)="isMenuCollapsed = true">Edit Routine</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'add-workout'" (click)="isMenuCollapsed = true">Add Workout</a>
				</li>
                <hr >
            </ul>
            <ul class="navbar-nav user-nav ml-auto">
                <li class="nav-item">
					<ng-container *ngIf="isLoggedIn">
						<a class="nav-link user-link" [routerLink]="'/'" (click)="isMenuCollapsed = true; logout()"> Logout </a>
					</ng-container>
					<ng-container *ngIf="!isLoggedIn">
						<a class="nav-link user-link" [routerLink]="'login'" (click)="isMenuCollapsed = true; this.isLoggedIn = true"> Login </a>
					</ng-container>
                </li>
			</ul>
		</div>
	</div>
</nav>