<mat-toolbar color="primary">
  <a mat-button [routerLink]="'.'" class="navbar-brand">Workout App</a>

  <div class="nav-links nav-desktop">
    <a mat-button routerLink="dashboard" routerLinkActive="active">Next Workout</a>
    <a mat-button routerLink="workouts" routerLinkActive="active">Edit Workouts</a>
    <a mat-button routerLink="routine" routerLinkActive="active">Edit Routine</a>
    <a mat-button routerLink="add-workout" routerLinkActive="active">Add Workout</a>
  </div>

  <span class="spacer"></span>

  <button mat-button class="nav-desktop user-menu-trigger" [matMenuTriggerFor]="userMenu" aria-label="Open user menu">
    {{ userName }}
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <button mat-icon-button class="nav-mobile" [matMenuTriggerFor]="menu" aria-label="Open navigation menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="mobile-menu-user" mat-menu-item disabled>{{ userName }}</div>
    <a mat-menu-item routerLink="dashboard" routerLinkActive="active">Next Workout</a>
    <a mat-menu-item routerLink="workouts" routerLinkActive="active">Edit Workouts</a>
    <a mat-menu-item routerLink="routine" routerLinkActive="active">Edit Routine</a>
    <a mat-menu-item routerLink="add-workout" routerLinkActive="active">Add Workout</a>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
