@if (nextWorkout && nextWorkout.exercises) {
    <mat-card id="exercise-card-dash">
        <mat-card-header class="exercise-list-header">
            <h2>{{ nextWorkout.name }}</h2>
        </mat-card-header>

        <mat-card-content>

            <ul class="exercise-list">
                @for (exercise of nextWorkout.exercises; track exercise.id; let i = $index) {
                    <li class="exercise-card table-row">
                        <div class="exercise-name exercise-name-dash row-item"><b>{{exercise.name}}</b></div>
                        <div class="exercise-sets row-item">Sets: {{exercise.sets}}</div>
                        <div class="exercise-reps row-item">Reps: {{exercise.reps}}</div>
                        <div class="exercise-prev-reps row-item">Previous Weight: {{exercise.previousWeight}}</div>
                        <div class="exercise-curr exercise-dash-sub-row row-sub-container">
                        <form (ngSubmit)="exerciseForm.resetForm();" #exerciseForm="ngForm">
                            @for (set of exercise.cur_sets; track $index; let j = $index) {
                                <div class="form-group form-exercise-{{ exercise.id }}-set-{{ j }}">
                                    <div class="row-item">
                                        <label for="weight-exercise-{{ i }}-set-{{ j }}">Weight: </label>
                                        <input id="weight-exercise-{{ i }}-set-{{ j }}" type="number" class="form-control"
                                                [(ngModel)]="set.weight" name="weight-exercise-{{ i }}-set-{{ j }}"
                                                required>
                                    </div>
                                    <div class="row-item">
                                        <label for="reps-exercise-{{ i }}-set-{{ j }}">Reps: </label>
                                        <input id="reps-exercise-{{ i }}-set-{{ j }}" type="number" class="form-control"
                                                [(ngModel)]="set.reps" name="reps-exercise-{{ i }}-set-{{ j }}"
                                                required>
                                    </div>
                                </div>
                            }
                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!exerciseForm.form.valid" (click)="saveSets(i, exerciseForm);">Save Sets</button>
                        </form>
                        </div>
                    </li>
                }
            </ul>
            <hr >

        </mat-card-content>

        <mat-card-actions class="exercise-list-footer">
            <button type="button" class="btn btn-primary btn-lg row-item" (click)="incrementNextWorkout()">Next Workout</button>
        </mat-card-actions>

    </mat-card>
}
