<div class="workout-form-wrapper">
    <h1><b>Add a Workout!</b></h1>

    <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="workout-name-field">
            <mat-label>Workout name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <div formArrayName="exercises">
            <h2>Exercises</h2>

            @for (exercise of exercises.controls; track exercise; let i = $index) {
                <div formGroupName="{{ i }}" class="exercise-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Exercise name</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sets</mat-label>
                        <input matInput type="number" formControlName="sets">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Reps</mat-label>
                        <input matInput type="number" formControlName="reps">
                    </mat-form-field>
                    <button mat-stroked-button color="warn" type="button" (click)="removeExercise(i)">Remove</button>
                </div>
            }

            <div class="add-exercise-button-wrapper">
                <button mat-stroked-button type="button" (click)="addExercise()">Add Exercise</button>
            </div>

        </div>

        <div class="submit-wrapper">
            <button mat-flat-button color="primary" type="submit" [disabled]="!workoutForm.valid">Submit</button>
        </div>

    </form>
</div>
