/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
 }
body { 
    margin: 0;
    font-family: 'Finlandica', Arial, Helvetica, sans-serif; 
}

/* card styles for all workout cards */
.cdk-drag {
    cursor: default;
}

#exercise-card-dash {
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

.exercise-list-header {
    background-color: #f0f0f0;
}

.exercise-list {
    list-style-type: none;
    padding: 0;
}

.exercise-card {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

.row-item {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.exercise-name {
    justify-content: left;
}

.exercise-name-dash {
    justify-content: center;;
}

.row-item:hover:not(button) {
    background-color: #f0f0f0;
}

.exercise-list-header, .exercise-list-footer {
    padding-left: 2rem;
}

.row-sub-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }
  
  .row-sub-container .row-item {
    padding: 8px 0;
    border-bottom: 1px solid #dadada;
  }
  
  .table-row:last-child,
  .row-sub-container .row-item:last-child {
    border-bottom: 0;
  }